Repository WildCodeSchool/2409-wns-rouge-ask-and-trust: changes, and which lint-staged commands are due for each by the changed paths.
All: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

refactor(remove): remove useless code
  app/backend/src/graphql/inputs/queries/surveys-query-input.ts
Due: none

fix(minor): fix a visual bug in survey dashboard
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

refactor: use the existing responsivity hook rather than the new one I've created
  app/frontend/src/App.tsx
  app/frontend/src/components/sections/header/Header.tsx
  app/frontend/src/components/sections/header/NavAndAuthButtons.tsx
  app/frontend/src/components/sections/surveys/Header.tsx
  app/frontend/src/components/sections/surveys/NavAndAuthButtons.tsx
  app/frontend/src/hooks/useResponsive.ts
  app/frontend/src/pages/Surveys.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: filters can be nullable
  app/backend/src/graphql/resolvers/survey/survey-resolver.ts
  app/frontend/src/graphql/survey/survey.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

refactor: optimise re renders
  app/frontend/src/components/sections/dashboard/SurveyTable.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableActions.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableSearch.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: use react hook form instead of nativ form
  app/frontend/src/components/sections/surveys/SearchForm.tsx
  app/frontend/src/components/sections/surveys/ui/SurveyDurationFilter.tsx
  app/frontend/src/pages/Surveys.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

refactor(huge): move the queries and mutations in the custom hook useSurvey
  app/frontend/src/components/sections/dashboard/SurveyTableActions.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableNav.tsx
  app/frontend/src/components/ui/Pagination.tsx
  app/frontend/src/hooks/useSurvey.ts
  app/frontend/src/pages/Surveys.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

style(minor): fix style
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableFilter.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableSearch.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix(minor): fix the survey preview
  app/frontend/src/pages/PreviewSurvey.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix(profile): refacto componant input reset password
  app/frontend/src/components/sections/profile/form/InputConfirmPassword.tsx
  app/frontend/src/components/sections/profile/form/InputNewPassword.tsx
  app/frontend/src/components/sections/profile/form/InputOldPassword.tsx
  app/frontend/src/components/sections/profile/form/InputResetPassword.tsx
  app/frontend/src/components/sections/profile/parts/ResetPasswordPart.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix(minor): fix style
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableSearch.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix: correct nginx API routing and compose.prod typo
  SERVER.MD
  compose.prod.yaml
  nginx/nginx.conf
Due: prettier --write

fix(profile): css style, buttons for dahsboard, values updated
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableNav.tsx
  app/frontend/src/components/sections/profile/UserInformations.tsx
  app/frontend/src/components/sections/profile/parts/UserDetailsPart.tsx
  app/frontend/src/components/ui/Chipset.tsx
  app/frontend/src/styles/index.css
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

chore: update Docker configurations and environment handling
  SERVER.MD
  app/frontend/src/config/config.ts
  app/frontend/src/vite-env.d.ts
  compose.prod.yaml
  compose.staging.yaml
  server/Caddyfile
  server/fetch-and-deploy-prod.sh
  server/fetch-and-deploy-staging.sh
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

style: fix prettier formatting
  app/frontend/src/config/config.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

docs(translation): translate all french comments
  app/backend/src/database/results/allSurveysResult.ts
  app/backend/src/database/results/mySurveyResult.ts
  app/backend/src/graphql/inputs/queries/mySurveys-query-input.ts
  app/backend/src/graphql/inputs/queries/surveys-query-input.ts
  app/backend/src/graphql/resolvers/survey/survey-resolver.ts
  app/frontend/src/lib/utils.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix(profile): fixed transition for user information
  app/frontend/src/components/sections/profile/UserInformations.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: add ui ButtonScrollTop
  app/frontend/src/components/ui/ButtonScrollTop.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: add animation to ButtonScrollTop
  app/frontend/src/components/ui/ButtonScrollTop.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix: props and ariaLabel of ButtonScrollTop
  app/frontend/src/components/ui/ButtonScrollTop.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: enhance ButtonScroll to enable scroll bottom. Add component ButtonsScrollControl to manage scroll top and scroll bottom
  app/frontend/src/components/ui/ButtonScroll.tsx
  app/frontend/src/components/ui/ButtonScrollTop.tsx
  app/frontend/src/components/ui/ButtonsScrollControl.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: update question types
  app/backend/src/types/types.ts
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: update useQuestions with good types
  app/frontend/src/hooks/useQuestions.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: update resolver question types
  app/backend/src/graphql/resolvers/survey/questions-resolver.ts
Due: none

fix: type and return of isMultipleAnswerType function
  app/backend/src/types/types.ts
Due: none

feat: clean comments
  app/frontend/src/components/ui/ButtonScroll.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

style: change FormWrapper shadow
  app/frontend/src/components/sections/auth/form/FormWrapper.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: update toolbox data
  app/frontend/src/components/sections/Toolbox/toolboxData.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: update toolbox to connect to add question
  app/frontend/src/components/sections/Toolbox/AdaptativeToolbox.tsx
  app/frontend/src/components/sections/Toolbox/Toolbox.tsx
  app/frontend/src/components/sections/canvas/Canvas.tsx
  app/frontend/src/components/sections/surveys/buildSurvey/question/BuildQuestion.tsx
  app/frontend/src/pages/SurveyCreator.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

chore(release): 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(minor): remove params for page to prevent redirection bugs
  app/frontend/src/components/sections/surveys/Header.tsx
  app/frontend/src/components/sections/surveys/SearchForm.tsx
  app/frontend/src/pages/SurveyResponse.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix(test): edit test after fix redirection
  app/frontend/src/__tests__/components-test/errorElement.spec.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix(minor): remove useless page and fix redirection
  app/frontend/src/components/ui/ErrorElement.tsx
  app/frontend/src/pages/NotFound.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix: Input font size was changing with media query
  app/frontend/src/components/ui/Input.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

style: clean useless margin bottom in Header
  app/frontend/src/components/sections/surveys/Header.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

style: added color-black from 500 to 900 gradients
  app/frontend/src/styles/theme.css
Due: prettier --write

style: delete toolbox.css and use tailwind classes
  app/frontend/src/styles/toolbox.css
Due: prettier --write

style: clean css and responsive of SurveyCreator, Toolbox, Canvas, BuildQuestion
  app/frontend/src/components/sections/Toolbox/AdaptativeToolbox.tsx
  app/frontend/src/components/sections/Toolbox/Toolbox.tsx
  app/frontend/src/components/sections/canvas/Canvas.tsx
  app/frontend/src/components/sections/surveys/buildSurvey/question/BuildQuestion.tsx
  app/frontend/src/pages/SurveyCreator.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

fix: padding and use of useResponsivity
  app/frontend/src/components/sections/Toolbox/AdaptativeToolbox.tsx
  app/frontend/src/components/sections/Toolbox/Toolbox.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Path conditions:
  cd app/frontend && npx eslint --fix --cache --max-warnings=0: any of: app/frontend/**/*.{js,ts,tsx}
  prettier --write: ((any of: app/frontend/**/*.{js,ts,tsx}) or (any of: app/frontend/**/*.{css,scss})) or (any of: *.{json,md,yaml,yml})
  cd app/frontend && npx tsc --noEmit: any of: app/frontend/**/*.{ts,tsx}
