Repository WildCodeSchool/2409-wns-rouge-ask-and-trust: changes, and which lint-staged commands are due for each by the changed paths.
All: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Create state variant to use it for survey state
  app/frontend/src/components/ui/Chipset.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

WIP
  app/frontend/src/components/sections/dashboard/SurveyTable.tsx
  app/frontend/src/pages/Surveys.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Create the mutation to delete a survey
  app/frontend/src/graphql/survey/survey.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Add new types for dashboard components
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Add an optional icon to Select component
  app/frontend/src/components/ui/Select.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Remove pagination component and add table container component
  app/frontend/src/pages/Surveys.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Create components for dashboard in the user profil
  app/frontend/src/components/sections/dashboard/SelectFilter.tsx
  app/frontend/src/components/sections/dashboard/SurveyTable.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableActions.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableFilter.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableNav.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Making the pagination component works
  app/frontend/src/components/ui/Pagination.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Add a new variant for surveys table filters
  app/frontend/src/components/ui/Chipset.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Don't show the table if it's empty
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Add try catch in function to delete a survey
  app/frontend/src/components/sections/dashboard/SurveyTableActions.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Create the query in front for mySurveys
  app/frontend/src/graphql/survey/survey.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Create a query to retrieve its own surveys
  app/backend/src/graphql/resolvers/survey/survey-resolver.ts
Due: none

Use the new query
  app/frontend/src/components/sections/dashboard/SurveyTableActions.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableNav.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Export types components from types
  app/frontend/src/components/sections/dashboard/SelectFilter.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableFilter.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Add a search field to research a specific survey from her title
  app/frontend/src/components/sections/auth/form/FormWrapper.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableFilter.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableSearch.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Fix before merge
  app/backend/src/graphql/resolvers/survey/survey-resolver.ts
  app/frontend/src/components/sections/dashboard/SurveyTable.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableContainer.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableFilter.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableSearch.tsx
  app/frontend/src/types/types.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

Forget a stash
  app/frontend/src/components/sections/auth/form/FormWrapper.tsx
  app/frontend/src/components/sections/dashboard/SurveyTable.tsx
  app/frontend/src/components/sections/dashboard/SurveyTableNav.tsx
  app/frontend/src/graphql/survey/survey.ts
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

test: Enhance backend testing setup and Husky pre-push checks
  .husky/pre-push
  app/backend/jest.config.js
  app/backend/package.json
  app/backend/src/__tests__/setup.test.ts
  app/backend/tsconfig.json
  package-lock.json
Due: prettier --write

chore: Update ESLint configuration and dependencies for TypeScript support
  .husky/pre-push
  app/backend/eslint.config.js
  app/backend/package.json
  package-lock.json
Due: prettier --write

chore: Update ESLint configuration and dependencies for TypeScript support
  .husky/pre-commit
  app/frontend/README.md
  scripts/setup-husky.sh
  scripts/test-husky.sh
Due: prettier --write

docs(readme): add emoji
  README.md
Due: prettier --write

chore(release): 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: Update package-lock.json to reflect dependency changes and version upgrades
  package-lock.json
Due: prettier --write

fix(prop fixed): fixed a prop in HeaderSurveys
  app/frontend/src/components/sections/surveys/Header.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

chore: Replace npm ci with npm install in workflow files for consistency
  .github/workflows/client-tests-workflow.yaml
  .github/workflows/documentation-generation-workflow.yaml
  .github/workflows/linting-and-audit-workflow.yaml
Due: prettier --write

chore: Update dependencies and refactor imports for consistency
  app/frontend/src/components/sections/canvas/Canvas.tsx
  app/frontend/src/components/sections/landing/Hero.tsx
  app/frontend/src/components/sections/landing/Package.tsx
  app/frontend/src/components/sections/landing/Poll.tsx
  app/frontend/src/components/sections/preview/ui/ReadOnlyTextarea.tsx
  app/frontend/src/components/sections/surveys/buildSurvey/question/BuildQuestion.tsx
  app/frontend/src/components/sections/surveys/ui/TypeSwitch.tsx
  app/frontend/src/config/router.tsx
  app/frontend/src/main.tsx
  app/frontend/src/pages/Landing.tsx
  app/frontend/src/pages/SurveyCreator.tsx
  app/frontend/src/types/types.ts
  package-lock.json
  package.json
  tsconfig.docs.json
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

ci(test): fix remove package-lock.json in cib ecause it does not have the GNU Linux environment
  .github/workflows/client-tests-workflow.yaml
Due: prettier --write

ci(fix): add remove in front package
  .github/workflows/client-tests-workflow.yaml
Due: prettier --write

ci(fix): remove optional --run
  .github/workflows/client-tests-workflow.yaml
Due: prettier --write

ci: fix -
  .github/workflows/client-tests-workflow.yaml
Due: prettier --write

ci(rollup): linux-gnu installation --force
  .github/workflows/client-tests-workflow.yaml
Due: prettier --write

fix: in BuildListAnswers, answers are now editable
  app/frontend/src/components/sections/surveys/buildSurvey/question/BuildListAnswers.tsx
  app/frontend/src/components/sections/surveys/buildSurvey/question/BuildQuestion.tsx
Due: cd app/frontend && npx eslint --fix --cache --max-warnings=0, prettier --write, cd app/frontend && npx tsc --noEmit

feat: add utils authorisations in resolver utils
  app/backend/src/graphql/utils/authorizations.ts
Due: none

Path conditions:
  cd app/frontend && npx eslint --fix --cache --max-warnings=0: any of: app/frontend/**/*.{js,ts,tsx}
  prettier --write: ((any of: app/frontend/**/*.{js,ts,tsx}) or (any of: app/frontend/**/*.{css,scss})) or (any of: *.{json,md,yaml,yml})
  cd app/frontend && npx tsc --noEmit: any of: app/frontend/**/*.{ts,tsx}
